@font-face {
  font-family: "Mitr";
  font-weight: 200;
  src: url("~/assets/fonts/Mitr/Mitr-ExtraLight.ttf");
}
@font-face {
  font-family: "Mitr";
  font-weight: 400;
  src: url("~/assets/fonts/Mitr/Mitr-Regular.ttf");
}

@font-face {
  font-family: "Mitr";
  font-weight: 600;
  src: url("~/assets/fonts/Mitr/Mitr-SemiBold.ttf");
}


@font-face {
  font-family: "Prompt";
  font-weight: 300;
  src: url("~/assets/fonts/Prompt/Prompt-Light.ttf");
}
@font-face {
  font-family: "Prompt";
  font-weight: 400;
  src: url("~/assets/fonts/Prompt/Prompt-Regular.ttf");
}

@font-face {
  font-family: "Prompt";
  font-weight: 700;
  src: url("~/assets/fonts/Prompt/Prompt-Bold.ttf");
}
