@font-face {
  font-family: "Mitr";
  font-weight: 200;
  src: url("~/assets/fonts/Mitr-ExtraLight.ttf");
}
@font-face {
  font-family: "Mitr";
  font-weight: 400;
  src: url("~/assets/fonts/Mitr-Regular.ttf");
}

@font-face {
  font-family: "Mitr";
  font-weight: 600;
  src: url("~/assets/fonts/Mitr-SemiBold.ttf");
}
